/* Dream colleges starts */
.dream-colleges{
 display: flex;
 flex-direction: row;
 padding:50px;
}

.dream-colleges-text{
    display: flex;
    flex-direction: column;
    width: 392px;
}

.dream-colleges-text h1{
    color: #000;
    font-family: Inter;
    font-size: 55px;
    font-style: italic;
    font-weight: 900;
    line-height: 60px; /* 109.091% */
    letter-spacing: -1.1px;
}
.dream-colleges-text button{
    width: 159px;
    height: 31px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #263238;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    color: #263238;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.scrollable-container {
    display: flex;
    overflow: hidden;

}
.scrollable-container:hover .dream-college-card {
    transform: translateX(-314px);
}


.dream-college-card{
    border-radius: 10px;
    border: 1px solid #F0F0F0;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    width: 314px;
    height: 163px;
    flex-shrink: 0;
    margin: 20px;
    transform: translateX(0);
    transition: transform 0.3s ease;
    padding: 20px 0px 0px 20px;
}


.dream-college-card p{
    color: #B822FF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.32px;
    margin: 10px 0px 0px 10px;
    padding: 0;
}

.dream-college-card h2{
    width: 228px;
    color: #263238;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.6px;
    margin: 10px 0px 0px 10px;
    padding: 0;
}

/* Dream colleges ends */
