 @media (min-width: 1441px) {
   body{
    padding: 0px  3%;
  }
   .landing-text{
   margin: 13% 0% 0% 23%;

}
}

 @media (min-width: 1681px) {
   body{
    padding: 0px 10%;
  }
   .landing-text{
   margin: 14% 0% 0% 24%;

}
}